@model string

<script>
    var members = JSON.parse('@Html.Raw(!string.IsNullOrEmpty(Model) ? Model : "[]")');
</script>

<div class="manager-members-wrapper" ng-controller="ManageMembersCtrl as vm">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <h2 class="title">Manage Attendance</h2>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <div class="breadcrumbs pull-right">
                        <ul>
                            <li>You are here:</li>
                            <li>Manage Attendance</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="manager-members-content" style="padding: 60px 0 0;" ng-cloak>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-normal btn-color bottom-pad" ng-click="vm.openAddAttendanceModal()">Take Attendance</button>

                    <table ng-hide="vm.members.length == 0" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th class="hidden-xs">Phone Numbers</th>
                                <th class="hidden-xs">Email</th>
                                <th style="width: 100px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-cloak ng-repeat="item in vm.members">
                                <td>
                                    <strong>{{::item.firstName}} {{::item.lastName}}</strong> <br />
                                    {{::item.addressOne}} {{::item.addressTwo}} <br />
                                    {{::item.city}}, {{::item.state}} {{::item.zipCode}}
                                </td>
                                <td class="hidden-xs">
                                    <label>Phone Numbers:</label>
                                    <div ng-repeat="phone in item.phoneNumbers">{{::phone.phoneNumberType}}: {{::phone.phone}}</div>
                                </td>
                                <td class="hidden-xs">{{::item.primaryEmail}}</td>
                                <td style="text-align: right;">
                                    <button class="btn btn-color" ng-click="vm.openEditMemberModal(item)"><i class="fa fa-pencil"></i></button>
                                    <button class="btn btn-warning" btn-loading="vm.showDeleteLoading" data-loading-text="Deleting..." ng-click="vm.openDeleteMemberModal(item)"><i class="fa fa-remove"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>