<div class="modal-header">
    <h3 class="modal-title">Add Member</h3>
</div>
<div class="modal-body">
    <form novalidate>
        <fieldset class="reply">

            <div class="row">
                <div class="col-xs-6">
                    <label>First Name: <span class="warning">*</span></label>
                    <input class="form-control" name="" ng-model="modalCtrl.person.firstName" type="text" required/>
                </div>
                <div class="col-xs-6">
                    <label>Last Name: <span class="warning">*</span></label>
                    <input class="form-control" name="" ng-model="modalCtrl.person.lastName" type="text" required />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label>City: <span class="warning">*</span></label>
                    <input class="form-control" name="" ng-model="modalCtrl.person.city" type="text" />
                </div>
                <div class="col-xs-6">
                    <label>State: <span class="warning">*</span></label>
                    <input class="form-control" name="" ng-model="modalCtrl.person.state" type="text" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label>Zip Code: <span class="warning">*</span></label>
                    <input class="form-control" name="" ng-model="modalCtrl.person.zipCode" type="text" />
                </div>
                <div class="col-xs-6">
                    <label>Email Address: <span class="warning">*</span></label>
                    <input class="form-control" name="" ng-model="modalCtrl.person.primaryEmail" type="text" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label>Cell Phone: <span class="warning">*</span></label>
                    <input class="form-control" name="" ng-model="" type="text" />
                </div>
                <div class="col-xs-6">
                    <label>Home / Other Phone: <span class="warning">*</span></label>
                    <input class="form-control" name="" ng-model="" type="text"  />
                </div>
            </div>
   

        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-normal btn-color" btn-loading="modalCtrl.busy" data-loading-text="Adding..." ng-click="modalCtrl.addMember()">Add</button>
    <button class="btn btn-normal btn-warning" ng-click="modalCtrl.dismissModal()">Cancel</button>
</div>