<div class="modal-header">
    <h3 class="modal-title">Add A Person To The Church Directory</h3>
</div>
<div class="modal-body">
    <form novalidate name="form">

        <div class="row">
            <div class="col-xs-6">
                <label>First Name: <span class="warning">*</span></label>
                <input class="form-control" name="firstName" ng-model="modalCtrl.personObj.firstName" type="text" maxlength="50" required />
            </div>
            <div class="col-xs-6">
                <label>Last Name: <span class="warning">*</span></label>
                <input class="form-control" name="lastName" ng-model="modalCtrl.personObj.lastName" type="text" maxlength="50" required />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label>Address:</label>
                <input class="form-control" name="addressOne" ng-model="modalCtrl.personObj.addressOne" type="text" maxlength="50" />
            </div>
            <div class="col-xs-6">
                <label>Apartment #:</label>
                <input class="form-control" name="addressTwo" ng-model="modalCtrl.personObj.addressTwo" type="text" maxlength="50" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label>City:</label>
                <input class="form-control" name="city" ng-model="modalCtrl.personObj.city" maxlength="50" type="text"/>
            </div>
            <div class="col-xs-3">
                <label>State:</label>
                <select name="gender" ng-model="modalCtrl.personObj.state" class="form-control">
                    <option value="MN">Minnesota</option>
                    <option value="WI">Wisconsin</option>
                </select>
            </div>
            <div class="col-xs-3">
                <label>Zip Code:</label>
                <input class="form-control" name="zipCode" ng-model="modalCtrl.personObj.zipCode" maxlength="5" type="text"/>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label>Cell Phone:</label>
                <input class="form-control" name="phoneNumbers[0]" ng-model="modalCtrl.personObj.phoneNumbers[0]" maxlength="20" type="text" />
            </div>
            <div class="col-xs-6">
                <label>Home / Other Phone:</label>
                <input class="form-control" name="phoneNumbers[1]" ng-model="modalCtrl.personObj.phoneNumbers[1]" maxlength="20" type="text" />
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <label>Create a user account? <span class="warning">*</span></label>
                <select name="isUser" ng-model="modalCtrl.personObj.isUser" class="form-control" ng-change="modalCtrl.addUserSetupToForm()" required>
                    <option value=true>Yes: Create wtih user account</option>
                    <option value=false>No: doesn't want account or doesn't have email</option>
                </select>
            </div>
            <div class="col-xs-6">
                <label>Email Address:</label>
                <input class="form-control" ng-disabled="modalCtrl.disableEmail" name="primaryEmail"
                       ng-model="modalCtrl.personObj.primaryEmail" maxlength="50" type="text" required />
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <label>Gender: <span class="warning">*</span></label>               
                <select name="gender" ng-model="modalCtrl.personObj.gender" class="form-control" style="width: 100px;" required>
                    <option value="f">Female</option>
                    <option value="m">Male</option>
                </select>
            </div>
            <div class="col-xs-6">
                <label>Person scripturally baptized? <span class="warning">*</span></label>           
                <select name="isBaptized" ng-model="modalCtrl.personObj.isBaptized" class="form-control" style="width: 90px;" required>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>  
            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-normal btn-color" ng-disabled="form.$invalid" btn-loading="modalCtrl.busy" data-loading-text="Adding..." ng-click="modalCtrl.addPerson()">Add</button>
    <button class="btn btn-normal btn-warning" ng-click="modalCtrl.dismissModal()">Cancel</button>
</div>