<div class="modal-header">
    <h3 class="modal-title">Add Member</h3>
</div>
<div class="modal-body">
    <form name="form" novalidate>

        <div class="row">
            <div class="col-xs-6">
                <label>First Name: <span class="warning">*</span></label>
                <input class="form-control" name="firstName" ng-model="modalCtrl.member.firstName" type="text" maxlength="50" required />
            </div>
            <div class="col-xs-6">
                <label>Last Name: <span class="warning">*</span></label>
                <input class="form-control" name="lastName" ng-model="modalCtrl.member.lastName" type="text" maxlength="50" required />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label>Street: <span class="warning">*</span></label>
                <input class="form-control" name="addressOne" ng-model="modalCtrl.member.addressOne" type="text" maxlength="50" required />
            </div>
            <div class="col-xs-6">
                <label>Apartment #:</label>
                <input class="form-control" name="addressTwo" ng-model="modalCtrl.member.addressTwo" type="text" maxlength="50" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <label>City: <span class="warning">*</span></label>
                <input class="form-control" name="city" ng-model="modalCtrl.member.city" maxlength="50" type="text" required />
            </div>
            <div class="col-xs-4">
                <label>State: <span class="warning">*</span></label>
                <select name="gender" ng-model="modalCtrl.member.state" class="form-control" required>
                    <option value="MN">Minnesota</option>
                    <option value="WI">Wisconsin</option>
                </select>
            </div>
            <div class="col-xs-4">
                <label>Zip Code: <span class="warning">*</span></label>
                <input class="form-control" name="zipCode" ng-model="modalCtrl.member.zipCode" maxlength="5" type="text" required />
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <label>Phone:</label>
                <div class="input-group">
                    <span class="input-group-addon">Home</span>
                    <input type="text" class="form-control" ng-model="modalCtrl.member.phoneNumbers[0].phone" placeholder="(999) 999-9999" maxlength="14" ig-format-phone>
                </div>
            </div>
            <div class="col-lg-4">
                <label>&nbsp;</label>
                <div class="input-group">
                    <span class="input-group-addon">Mobile</span>
                    <input type="text" class="form-control" ng-model="modalCtrl.member.phoneNumbers[1].phone" placeholder="(999) 999-9999" maxlength="14" ig-format-phone>
                </div>
            </div>
            <div class="col-lg-4">
                <label>&nbsp;</label>
                <div class="input-group">
                    <span class="input-group-addon">Work</span>
                    <input type="text" class="form-control" ng-model="modalCtrl.member.phoneNumbers[2].phone" placeholder="(999) 999-9999" maxlength="14" ig-format-phone>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <label>Create a user account? <span class="warning">*</span></label>

                <select class="form-control" name="isUser" ng-model="modalCtrl.member.isUser" ng-change="modalCtrl.addUserSetupToForm()" required>
                    <option value="true">Yes: Create wtih user account</option>
                    <option value="false">No: doesn't want account or doesn't have email</option>
                </select>
            </div>
            <div class="col-xs-6">
                <label>Email Address: <span ng-show="modalCtrl.requireEmail" class="warning">*</span></label>
                <input class="form-control" ng-required="modalCtrl.requireEmail"
                       name="primaryEmail" ng-model="modalCtrl.member.primaryEmail"
                       maxlength="50" type="text" />
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <label>Gender: <span class="warning">*</span></label>
                <select class="form-control" name="gender" ng-model="modalCtrl.member.gender" style="width: 100px;" required>
                    <option value="F">Female</option>
                    <option value="M">Male</option>
                </select>
            </div>
            <div class="col-xs-6">
                <label>Person scripturally baptized? <span class="warning">*</span></label>
                <select name="isBaptized" ng-model="modalCtrl.member.isBaptized" class="form-control" style="width: 90px;" required>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <input class="check-box" type="checkbox" ng-model="modalCtrl.member.isMember"> Is person a member? <span class="warning">*</span>
            </div>
            <div class="col-xs-6">
                <input class="check-box" type="checkbox" ng-model="modalCtrl.member.isVisitor" /> Is person a visitor? <span class="warning">*</span>
            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-normal btn-color" ng-disabled="form.$invalid" btn-loading="modalCtrl.busy" data-loading-text="Adding..." ng-click="modalCtrl.addPerson()">Add</button>
    <button class="btn btn-normal btn-warning" ng-click="modalCtrl.dismissModal()">Cancel</button>
</div>