@model string

<script>
    var members = JSON.parse('@Html.Raw(!string.IsNullOrEmpty(Model) ? Model : "[]")');
</script>

<div class="directory-wrapper" ng-controller="DirectoryCtrl as vm">

    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <h2 class="title">Directory</h2>
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <div class="breadcrumbs pull-right">
                        <ul>
                            <li>You are here:</li>
                            <li>Directory</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="directory-content" style="padding: 60px 0 0;" ng-cloak>
        <div class="container">
            <div class="row">

                <div class="sidebar col-lg-3 col-lg-push-9 col-md-3 col-md-push-9 col-sm-4 col-sm-push-8 col-xs-12">
                    <div class="widget search-form">
                        <div class="input-group">
                            <input type="text" placeholder="Search..." class="search-input form-control" ng-model="vm.nameFilter">
                            <span class="input-group-btn">
                                <button type="submit" class="subscribe-btn btn btn-color" ng-class="vm.nameFilter.length > 0 ? 'btn-warning' : ''" ng-click="vm.nameFilter = ''"><i class="fa fa-search" ng-class="vm.nameFilter.length <= 0 ? 'fa-search' : 'fa-remove'"></i></button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="users-block col-lg-9 col-lg-pull-3 col-md-9 col-md-pull-3 col-sm-8 col-sm-pull-4 col-xs-12">

                    <div class="user-content" ng-repeat="member in vm.members | firstNameLastName: vm.nameFilter track by member.personId">
                        <div class="user-quick-info">
                            <h3 class="sermon-title">
                                <a href="javascript:void(0);">{{::member.firstName}} {{::member.lastName}}</a>
                            </h3>

                            <div class="user-meta">
                                <div class="user-meta-address">
                                    <address><i class="fa fa-map-marker"></i> {{::member.addressOne}}, {{::member.city}} {{::member.state}} {{::member.zipCode}}</address>
                                </div>
                                <div class="user-meta-phone" ng-if="!!(member.phoneNumbers) && member.phoneNumbers.length > 0">
                                    <a ng-href="tel:{{::member.phoneNumbers[0].phone}}"><i class="fa fa-phone"></i> {{::member.phoneNumbers[0].phone}}</a>
                                </div>
                                <div class="user-meta-email" ng-if="!!(member.primaryEmail)">
                                    <a ng-href="mailto:{{::member.primaryEmail}}"><i class="fa fa-envelope"></i> {{::member.primaryEmail}}</a>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="sermon-divider" ng-show="! $last"></div>
                    </div>

                </div>
            </div>

            <div class="divider"></div>
        </div>

    </div>
</div>