<div class="modal-header">
    <h3 class="modal-title">Edit Attendance</h3>
</div>
<div class="modal-body">
    <form novalidate>
        <fieldset>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label>Keenan Bailles</label>
                    <div class="pull-right">
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" value="option2"> Out of Town
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" value="option1"> Sick
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" value="option3"> Absent
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" value="option3" checked="checked"> Present
                        </label>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: #f9f9f9;">
                    <label>Reika Bailles</label>
                    <div class="pull-right">
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions2" value="option2"> Out of Town
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions2" value="option1"> Sick
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions2" value="option3"> Absent
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions2" value="option3"> Present
                        </label>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label>Lance Bailles</label>
                    <div class="pull-right">
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions3" value="option2"> Out of Town
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions3" value="option1" checked="checked"> Sick
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions3" value="option3"> Absent
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions3" value="option3" checked="checked"> Present
                        </label>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: #f9f9f9;">
                    <label>Heidi Bailles</label>
                    <div class="pull-right">
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions4" value="option2"> Out of Town
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions4" value="option1"> Sick
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions4" value="option3"> Absent
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions4" value="option3" checked="checked"> Present
                        </label>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label>Ted Guy</label>
                    <div class="pull-right">
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions5" value="option2"> Out of Town
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions5" value="option1"> Sick
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions5" value="option3" checked="checked"> Absent
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions5" value="option3"> Present
                        </label>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: #f9f9f9;">
                    <label>Another Person</label>
                    <div class="pull-right">
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions6" value="option2" checked="checked"> Out of Town
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions6" value="option1"> Sick
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions6" value="option3"> Absent
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions6" value="option3"> Present
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-normal btn-color" btn-loading="modalCtrl.busy" data-loading-text="Adding..." ng-click="modalCtrl.addAttendance()">Update</button>
    <button class="btn btn-normal btn-warning" ng-click="modalCtrl.dismissModal()">Cancel</button>
</div>