<div class="modal-header">
    <h3 class="modal-title">Edit Member</h3>
</div>
<div class="modal-body">
    <form name="form" novalidate>

        <div class="row">
            <div class="col-xs-6">
                <label>First Name: <span class="warning">*</span></label>
                <input class="form-control" name="firstName" ng-model="modalCtrl.member.firstName" type="text" maxlength="50" required />
            </div>
            <div class="col-xs-6">
                <label>Last Name: <span class="warning">*</span></label>
                <input class="form-control" name="lastName" ng-model="modalCtrl.member.lastName" type="text" maxlength="50" required />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label>Address: <span class="warning">*</span></label>
                <input class="form-control" name="addressOne" ng-model="modalCtrl.member.addressOne" type="text" maxlength="50" required />
            </div>
            <div class="col-xs-6">
                <label>Apartment #:</label>
                <input class="form-control" name="addressTwo" ng-model="modalCtrl.member.addressTwo" type="text" maxlength="50" required />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label>City: <span class="warning">*</span></label>
                <input class="form-control" name="city" ng-model="modalCtrl.member.city" maxlength="50" type="text" required />
            </div>
            <div class="col-xs-3">
                <label>State: <span class="warning">*</span></label>
                <select name="gender" ng-model="modalCtrl.member.state" class="form-control" required>
                    <option value="MN">Minnesota</option>
                    <option value="WI">Wisconsin</option>
                </select>
            </div>
            <div class="col-xs-3">
                <label>Zip Code: <span class="warning">*</span></label>
                <input class="form-control" name="zipCode" ng-model="modalCtrl.member.zipCode" maxlength="5" type="text" required />
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <label>Phone:</label>
                <div class="input-group">
                    <span class="input-group-addon">Home</span>
                    <input type="text" class="form-control" ng-model="modalCtrl.homePhone" placeholder="(999) 999-9999" maxlength="14" ig-format-phone>
                </div>
            </div>
            <div class="col-lg-4">
                <label>&nbsp;</label>
                <div class="input-group">
                    <span class="input-group-addon">Mobile</span>
                    <input type="text" class="form-control" ng-model="modalCtrl.mobile" placeholder="(999) 999-9999" maxlength="14" ig-format-phone>
                </div>
            </div>
            <div class="col-lg-4">
                <label>&nbsp;</label>
                <div class="input-group">
                    <span class="input-group-addon">Work</span>
                    <input type="text" class="form-control" ng-model="modalCtrl.workPhone" placeholder="(999) 999-9999" maxlength="14" ig-format-phone>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <label>Email Address: <span ng-show="!modalCtrl.disableEmail" class="warning">*</span></label>
                <input class="form-control" name="primaryEmail" ng-model="modalCtrl.member.primaryEmail" maxlength="50" type="text" />
            </div>
            <div class="col-xs-6">
                <label>Has user account? <span class="warning">*</span></label>
                <select class="form-control" name="isUser" ng-model="modalCtrl.member.isUser" ng-options="modalCtrl.boolToStr(item) for item in [true, false]"></select>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <label>Gender: <span class="warning">*</span></label>
                <select class="form-control" name="gender" ng-model="modalCtrl.member.gender" style="width: 100px;" required>
                    <option value="F">Female</option>
                    <option value="M">Male</option>
                </select>
            </div>
            <div class="col-xs-6">
                <label>Person scripturally baptized? <span class="warning">*</span></label>
                <select name="isBaptized" ng-model="modalCtrl.member.isBaptized" ng-options="modalCtrl.boolToStr(item) for item in [true, false]" class="form-control" style="width: 90px;" required></select>
            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-normal btn-color" btn-loading="modalCtrl.busy" data-loading-text="Saving..." ng-click="modalCtrl.editPerson()">Save</button>
    <button class="btn btn-normal btn-warning" ng-click="modalCtrl.dismissModal()">Cancel</button>
</div>
