<div class="manager-members-wrapper">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <h2 class="title">Manage Members</h2>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <div class="breadcrumbs pull-right">
                        <ul>
                            <li>You are here:</li>
                            <li><a href="@Url.Action("Index", "Home")"><strong>Home</strong></a></li>
                            <li>Manage Members</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="manager-members-content" style="padding: 60px 0 0;" ng-cloak>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <button class="btn btn-normal btn-color bottom-pad" ng-click="vm.openAddMemberModal()">Add Member</button>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6"><!-- count, message, whatever here --></div>
                
            </div>
            <!-- gridview here of members with edit / delete buttons -->
        </div>
    </div>
</div>
