@model string

<script>
    var members = JSON.parse('@Html.Raw(Model)');
</script>

<div class="manager-members-wrapper" ng-controller="ManageMembersCtrl as vm">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <h2 class="title">Manage Members</h2>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <div class="breadcrumbs pull-right">
                        <ul>
                            <li>You are here:</li>
                            <li><a href="@Url.Action("Index", "Home")"><strong>Home</strong></a></li>
                            <li>Manage Members</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="manager-members-content" style="padding: 60px 0 0;" ng-cloak>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <button class="btn btn-normal btn-color bottom-pad" ng-click="vm.openAddMemberModal()">Add Member</button>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <!-- count, message, whatever here -->
                </div>

            </div>


            <table ng-hide="vm.members.length == 0" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Phone | Email</th>
                        <th style="width: 100px;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-cloak ng-repeat="item in vm.members">
                        <td>{{item.firstName}} {{item.lastName}}</td>
                        <td>{{item.addressOne}} {{item.addressTwo}} {{item.city}}, {{item.state}} {{item.zipCode}}</td>
                        <td>{{item.primaryEmail}}</td>
                        <td style="text-align: right;">
                            <button class="btn btn-color" ng-click=""><i class="fa fa-pencil"></i></button>
                            <button class="btn btn-warning" btn-loading="vm.showDeleteLoading" data-loading-text="Deleting..." ng-click="vm.openDeleteMemberModal(item)"><i class="fa fa-remove"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
