# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

InverGrove.Domain/obj/Debug/InverGrove.Domain.csproj.GenerateResource.Cache
InverGrove.Domain/obj/Debug/InverGrove.Domain.csproj.FileListAbsolute.txt
InverGrove.Domain/obj/Debug/InverGrove.Domain.csprojResolveAssemblyReference.cache
InverGrove.Domain/obj/Debug/InverGrove.Domain.dll
InverGrove.Domain/obj/Debug/InverGrove.Domain.pdb
InverGrove.Domain/obj/Debug/InverGrove.Domain.Resources.Messages.resources
InverGrove.Domain/obj/Debug/InverGrove.Domain.Resources.ViewLabels.resources
InverGrove.Domain/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
InverGrove.Domain/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
InverGrove.Domain/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
InverGrove.Domain/obj/Debug/TempPE/Messages.Designer.cs.dll
InverGrove.Domain/obj/Debug/TempPE/Resources.Messages.Designer.cs.dll
InverGrove.Repositories/bin/Debug/Castle.Core.dll
InverGrove.Repositories/bin/Debug/Castle.Core.pdb
InverGrove.Repositories/bin/Debug/Castle.Windsor.dll
InverGrove.Repositories/bin/Debug/Castle.Windsor.pdb
InverGrove.Repositories/bin/Debug/EntityFramework.dll
InverGrove.Repositories/bin/Debug/EntityFramework.SqlServer.dll
InverGrove.Repositories/bin/Debug/EntityFramework.SqlServer.xml
InverGrove.Repositories/bin/Debug/EntityFramework.xml
InverGrove.Repositories/bin/Debug/InverGrove.Data.dll
InverGrove.Repositories/bin/Debug/InverGrove.Data.pdb
InverGrove.Repositories/bin/Debug/InverGrove.Domain.dll
InverGrove.Repositories/bin/Debug/InverGrove.Domain.pdb
InverGrove.Repositories/bin/Debug/InverGrove.Repositories.dll
InverGrove.Repositories/bin/Debug/InverGrove.Repositories.dll.config
InverGrove.Repositories/bin/Debug/InverGrove.Repositories.pdb
InverGrove.Repositories/InverGrove.Repositories.csproj.user
InverGrove.Repositories/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
InverGrove.Repositories/obj/Debug/InverGrove.Repositories.csproj.FileListAbsolute.txt
InverGrove.Repositories/obj/Debug/InverGrove.Repositories.csprojResolveAssemblyReference.cache
InverGrove.Repositories/obj/Debug/InverGrove.Repositories.dll
InverGrove.Repositories/obj/Debug/InverGrove.Repositories.pdb
InverGrove.Repositories/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
InverGrove.Repositories/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
InverGrove.Repositories/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
InverGrove.Tests/bin/Debug/InverGrove.Tests.dll
InverGrove.Tests/bin/Debug/InverGrove.Tests.pdb
InverGrove.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
InverGrove.Tests/obj/Debug/InverGrove.Tests.csproj.FileListAbsolute.txt
InverGrove.Tests/obj/Debug/InverGrove.Tests.csprojResolveAssemblyReference.cache
InverGrove.Tests/obj/Debug/InverGrove.Tests.dll
InverGrove.Tests/obj/Debug/InverGrove.Tests.pdb
InverGrove.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
InverGrove.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
InverGrove.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
InverGrove.v11.suo
InverGrove.v12.suo
InverGrove.Web/bin/Antlr3.Runtime.dll
InverGrove.Web/bin/Antlr3.Runtime.pdb
InverGrove.Web/bin/BundleTransformer.Core.dll
InverGrove.Web/bin/Castle.Core.dll
InverGrove.Web/bin/Castle.Core.pdb
InverGrove.Web/bin/Castle.Windsor.dll
InverGrove.Web/bin/Castle.Windsor.pdb
InverGrove.Web/bin/EntityFramework.dll
InverGrove.Web/bin/EntityFramework.SqlServer.dll
InverGrove.Web/bin/EntityFramework.SqlServer.xml
InverGrove.Web/bin/EntityFramework.xml
InverGrove.Web/bin/InverGrove.Data.dll
InverGrove.Web/bin/InverGrove.Data.pdb
InverGrove.Web/bin/InverGrove.Domain.dll
InverGrove.Web/bin/InverGrove.Domain.pdb
InverGrove.Web/bin/InverGrove.Repositories.dll
InverGrove.Web/bin/InverGrove.Repositories.pdb
InverGrove.Web/bin/InverGrove.Web.dll
InverGrove.Web/bin/InverGrove.Web.dll.config
InverGrove.Web/bin/InverGrove.Web.pdb
InverGrove.Web/bin/Microsoft.Web.Infrastructure.dll
InverGrove.Web/bin/Newtonsoft.Json.dll
InverGrove.Web/bin/Newtonsoft.Json.xml
InverGrove.Web/bin/ru-ru/BundleTransformer.Core.resources.dll
InverGrove.Web/bin/System.Web.Helpers.dll
InverGrove.Web/bin/System.Web.Helpers.xml
InverGrove.Web/bin/System.Web.Mvc.dll
InverGrove.Web/bin/System.Web.Mvc.xml
InverGrove.Web/bin/System.Web.Optimization.dll
InverGrove.Web/bin/System.Web.Optimization.xml
InverGrove.Web/bin/System.Web.Razor.dll
InverGrove.Web/bin/System.Web.Razor.xml
InverGrove.Web/bin/System.Web.WebPages.Deployment.dll
InverGrove.Web/bin/System.Web.WebPages.Deployment.xml
InverGrove.Web/bin/System.Web.WebPages.dll
InverGrove.Web/bin/System.Web.WebPages.Razor.dll
InverGrove.Web/bin/System.Web.WebPages.Razor.xml
InverGrove.Web/bin/System.Web.WebPages.xml
InverGrove.Web/bin/WebGrease.dll
*.user
InverGrove.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
InverGrove.Web/obj/Debug/InverGrove.Domain.csprojResolveAssemblyReference.cache
InverGrove.Web/obj/Debug/InverGrove.Web.csproj.FileListAbsolute.txt
InverGrove.Web/obj/Debug/InverGrove.Web.csprojResolveAssemblyReference.cache
InverGrove.Web/obj/Debug/InverGrove.Web.dll
InverGrove.Web/obj/Debug/InverGrove.Web.pdb
InverGrove.Web/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
InverGrove.Web/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
InverGrove.Web/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
InverGrove.Domain/obj/Debug/TempPE/Resources.ViewLabels.Designer.cs.dll
InverGrove.Domain/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
InverGrove.Domain/obj/Debug/DesignTimeResolveAssemblyReferences.cache
InverGrove.Domain/bin/Debug/InverGrove.Domain.pdb
InverGrove.Domain/bin/Debug/InverGrove.Domain.dll.config
InverGrove.Domain/bin/Debug/InverGrove.Domain.dll
InverGrove.Domain/bin/Debug/InverGrove.Data.pdb
InverGrove.Domain/bin/Debug/InverGrove.Data.dll
InverGrove.Domain/bin/Debug/EntityFramework.xml
InverGrove.Domain/bin/Debug/EntityFramework.SqlServer.xml
InverGrove.Domain/bin/Debug/EntityFramework.SqlServer.dll
InverGrove.Domain/bin/Debug/EntityFramework.dll
InverGrove.Domain/bin/Debug/Castle.Windsor.pdb
InverGrove.Domain/bin/Debug/Castle.Windsor.dll
InverGrove.Domain/bin/Debug/Castle.Core.pdb
InverGrove.Domain/bin/Debug/Castle.Core.dll
InverGrove.Data/obj/Debug/TempPE/InverGrove.Designer.cs.dll
InverGrove.Data/obj/Debug/TempPE/InverGrove.cs.dll
InverGrove.Data/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
InverGrove.Data/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
InverGrove.Data/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
InverGrove.Data/obj/Debug/InverGrove.Web.csprojResolveAssemblyReference.cache
InverGrove.Data/obj/Debug/InverGrove.Data.pdb
InverGrove.Data/obj/Debug/InverGrove.Data.dll
InverGrove.Data/obj/Debug/InverGrove.Data.csprojResolveAssemblyReference.cache
InverGrove.Data/obj/Debug/InverGrove.Data.csproj.FileListAbsolute.txt
InverGrove.Data/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
InverGrove.Data/bin/Debug/InverGrove.Data.pdb
InverGrove.Data/bin/Debug/InverGrove.Data.dll.config
InverGrove.Data/bin/Debug/InverGrove.Data.dll
InverGrove.Data/bin/Debug/EntityFramework.xml
InverGrove.Data/bin/Debug/EntityFramework.SqlServer.xml
InverGrove.Data/bin/Debug/EntityFramework.SqlServer.dll
InverGrove.Data/bin/Debug/EntityFramework.dll