<div class="directory-wrapper">

    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <h2 class="title">Directory</h2>
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <div class="breadcrumbs pull-right">
                        <ul>
                            <li>You are here:</li>
                            <li><a href="@Url.Action("Index", "Home")"><strong>Home</strong></a></li>
                            <li>Directory</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="directory-content" style="padding: 60px 0 0;" ng-cloak>
        <div class="container">
            <div class="row">
                <div class="sidebar col-lg-3 col-lg-push-9 col-md-3 col-md-push-9 col-sm-4 col-sm-push-8 col-xs-12">
                    <div class="widget search-form">
                        <div class="input-group">
                            <input type="text" placeholder="Search..." class="search-input form-control">
                            <span class="input-group-btn">
                                <button type="submit" class="subscribe-btn btn btn-color"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="users-block col-lg-9 col-lg-pull-3 col-md-9 col-md-pull-3 col-sm-8 col-sm-pull-4 col-xs-12">

                    <h3 class="title">Users</h3>

                    <div class="user-content">
                        <div class="avatar" style="float: left; margin-right: 15px;">
                            <img src="~/Content/images/team-member-4.jpg" style="border-radius: 100%; max-width: 70px;margin-bottom: 10px;"/>
                        </div>
                        <div class="user-quick-info">
                            <h3 class="sermon-title">
                                <a href="#">Dan Arnoldswashanager</a>
                            </h3>
                            <div class="user-meta">
                                <div class="user-meta-phone" style="margin-right: 10px;">
                                    <i class="fa fa-phone"></i>
                                    (999) 123-4412
                                </div>
                                <div class="user-meta-email" style="margin-right: 10px;">
                                    <i class="fa fa-envelope"></i>
                                    kbailles@hotmail.com
                                </div>
                                <div class="user-meta-address" style="margin-right: 10px;">
                                    <i class="fa fa-map-marker"></i>
                                    3925 Trailer Lane MN 55123
                                </div>
                            </div>

                        </div>

                        <div class="clearfix"></div>
                        <div class="sermon-divider"></div>
                    </div>

                    <div class="user-content">
                        <div class="avatar" style="float: left; margin-right: 15px;">
                            <img src="~/Content/images/team-member-1.jpg" style="border-radius: 100%; max-width: 70px;margin-bottom: 10px;"/>
                        </div>
                        <div class="user-quick-info">
                            <h3 class="sermon-title">
                                <a href="#">Shreka Mahassapeda</a>
                            </h3>
                            <div class="user-meta">
                                <div class="user-meta-phone" style="margin-right: 10px;">
                                    <i class="fa fa-phone"></i>
                                    (888) 123-2223
                                </div>
                                <div class="user-meta-email" style="margin-right: 10px;">
                                    <i class="fa fa-envelope"></i>
                                    kbailles@hotmail.com
                                </div>
                                <div class="user-meta-address" style="margin-right: 10px;">
                                    <i class="fa fa-map-marker"></i>
                                    3925 That One Place MN 55123
                                </div>
                            </div>

                        </div>

                        <div class="clearfix"></div>
                        <div class="sermon-divider"></div>
                    </div>

                    <div class="user-content">
                        <div class="avatar" style="float: left; margin-right: 15px;">
                            <img src="~/Content/images/team-member-4.jpg" style="border-radius: 100%; max-width: 70px;margin-bottom: 10px;" />
                        </div>
                        <div class="user-quick-info">
                            <h3 class="sermon-title">
                                <a href="#">Long Naaaaammmeeeeeeeeeeeee</a>
                            </h3>
                            <div class="user-meta">
                                <div class="user-meta-phone" style="margin-right: 10px;">
                                    <i class="fa fa-phone"></i>
                                    (999) 444-5555
                                </div>
                                <div class="user-meta-email" style="margin-right: 10px;">
                                    <i class="fa fa-envelope"></i>
                                    kbailles@hotmail.com
                                </div>
                                <div class="user-meta-address" style="margin-right: 10px;">
                                    <i class="fa fa-map-marker"></i>
                                    3925 Longnammeeeee Lane MN 55123
                                </div>
                            </div>

                        </div>

                        <div class="clearfix"></div>
                        <div class="sermon-divider"></div>
                    </div>

                    <div class="user-content">
                        <div class="avatar" style="float: left; margin-right: 15px;">
                            <img src="~/Content/images/team-member-1.jpg" style="border-radius: 100%; max-width: 70px;margin-bottom: 10px;" />
                        </div>
                        <div class="user-quick-info">
                            <h3 class="sermon-title">
                                <a href="#">Byron White</a>
                            </h3>
                            <div class="user-meta">
                                <div class="user-meta-phone" style="margin-right: 10px;">
                                    <i class="fa fa-phone"></i>
                                    (121) 313-2121
                                </div>
                                <div class="user-meta-email" style="margin-right: 10px;">
                                    <i class="fa fa-envelope"></i>
                                    kbailles@hotmail.com
                                </div>
                                <div class="user-meta-address" style="margin-right: 10px;">
                                    <i class="fa fa-map-marker"></i>
                                    3925 Anderly Lane MN 11111
                                </div>
                            </div>

                        </div>

                        <div class="clearfix"></div>
                        <div class="sermon-divider"></div>
                    </div>

                    <div class="user-content">
                        <div class="avatar" style="float: left; margin-right: 15px;">
                            <img src="~/Content/images/team-member-4.jpg" style="border-radius: 100%; max-width: 70px;margin-bottom: 10px;" />
                        </div>
                        <div class="user-quick-info">
                            <h3 class="sermon-title">
                                <a href="#">Apu Meowmeow</a>
                            </h3>
                            <div class="user-meta">
                                <div class="user-meta-phone" style="margin-right: 10px;">
                                    <i class="fa fa-phone"></i>
                                    (999) 333-3333
                                </div>
                                <div class="user-meta-email" style="margin-right: 10px;">
                                    <i class="fa fa-envelope"></i>
                                    kbailles@hotmail.com
                                </div>
                                <div class="user-meta-address" style="margin-right: 10px;">
                                    <i class="fa fa-map-marker"></i>
                                    3925 Meow Lane MN 55123
                                </div>
                            </div>

                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="divider"></div>
        </div>

    </div>
</div>