<div class="manager-users-wrapper">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <h2 class="title">Manage Users</h2>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <div class="breadcrumbs pull-right">
                        <ul>
                            <li>You are here:</li>
                            <li><a href="@Url.Action("Index", "Home")"><strong>Home</strong></a></li>
                            <li>Manage Users</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="manager-users-content" style="padding: 60px 0 0;" ng-cloak>
        <div class="container">
            <div class="row">
                <p><strong>NOTE:</strong> A <i>user</i> is any person to whom site access might be granted, it is not necessarily a <i>member</i> of the local church.</p>
                <div class="col-xs-12">

                    <p>Repeat the data here, if any.</p>
                    <button class="btn btn-normal btn-color bottom-pad" ng-click="vm.openAddUserModal()">Add User</button>

                </div>
            </div>
        </div>
    </div>
</div>
