@model string

<script>
    var sermon = JSON.parse('@Html.Raw(!string.IsNullOrEmpty(Model) ? Model : "[]")');
</script>

<div class="sermons-wrapper" ng-controller="SermonDetailCtrl as vm" ng-cloak>
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <h2 class="title">Sermons</h2>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <div class="breadcrumbs pull-right">
                        <ul>
                            <li>You are here:</li>
                            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li><a href="@Url.Action("ViewSermons", "Sermon")">Sermons</a></li>
                            <li>{{vm.sermon.title}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sermons-content">
        <div class="container">
            <div class="row">
                <div class="sermons-block col-lg-9 col-md-9 col-sm-8 col-xs-12">

                    <header class="sermon-header">
                        <h3 class="sermon-title">{{vm.sermon.title}}</h3>
                        <div class="sermon-meta">
                            <div class="sermon-meta-date">
                                <i class="fa fa-calendar"></i>
                                <span class="sermon-entry-meta-date-month">{{vm.sermon.sermonDate | date:'MMMM'}}</span>
                                <span class="sermon-entry-meta-date-day">{{vm.sermon.sermonDate | date:'d'}}</span>
                                <span class="sermon-entry-meta-date-year">{{vm.sermon.sermonDate | date:'yyyy'}}</span>
                            </div>
                            <div class="sermon-entry-meta-speaker">
                                <i class="fa fa-user"></i>
                                <span>{{vm.sermon.speaker}}</span>
                            </div>
                            <div class="sermon-entry-meta-tags">
                                <i class="fa" ng-class="vm.sermon.tags.split(',').length > 1 ? 'fa-tags' : 'fa-tag'"></i>
                                <span ng-repeat="tag in vm.sermon.tags.split(',')">
                                    {{ tag }}{{ ! $last ? ',&nbsp;' : '' }}
                                </span>
                            </div>
                        </div>
                    </header>
                    <iframe width="100%" height="166" scrolling="no" frameborder="no" ng-src="{{vm.soundCloudSermonSrc}}"></iframe>
                    <div class="divider"></div>
                </div>

                <div class="sidebar col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    @*
                        Reserved: Don't know what I want to be in the sidebar on this page yet...
                    *@
                </div>
            </div>
        </div>
    </div>
</div>