<div class="sermons-wrapper" ng-controller="SermonsCtrl as vm">

    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <h2 class="title">Sermons</h2>
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <div class="breadcrumbs pull-right">
                        <ul>
                            <li>You are here:</li>
                            <li><a href="@Url.Action("Index", "Home")"><strong>Home</strong></a></li>
                            <li>Sermons</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="sermons-content" ng-cloak>
        <div class="container">
            <div class="row">

                <div class="sermons-block col-lg-9 col-md-9 col-sm-8 col-xs-12">
                    <h3 class="title">Listen to Sermons</h3>

                    <article class="sermon hentry" ng-repeat="sermon in vm.sermons | filter: { title: vm.titleFilter, speaker: vm.speakerFilter, tags: vm.tagFilter }">
                        <div class="sermon-content-wrap">
                            <header class="sermon-header">
                                <div class="sermon-date">
                                    <a class="date" href="#"><strong ng-bind="sermon.sermonDate | date : 'dd'"></strong><i ng-bind="sermon.sermonDate | date : 'MMM'"></i></a>
                                </div>
                                <h3 class="sermon-title"><a ng-href="/#/Sermon/SermonDetail/{{sermon.sermonId}}" ng-bind="sermon.title"></a></h3>
                                <div class="sermon-meta">
                                    <div class="sermon-entry-meta-speaker">
                                        <i class="fa fa-user"></i>
                                        {{ sermon.speaker }}
                                    </div>
                                    <div class="sermon-entry-meta-tags">
                                        <i class="fa" ng-class="sermon.tags.split(',').length > 1 ? 'fa-tags' : 'fa-tag'"></i>
                                        <div class="tags-container" ng-repeat="tag in sermon.tags.split(',')">
                                            {{ tag }}{{ ! $last ? ',&nbsp;' : '' }}
                                        </div>
                                    </div>
                                </div>
                            </header>
                        </div>

                        <div class="clearfix"></div>
                        <div ng-show="! $last" class="sermon-divider"></div>
                    </article>

                    <div class="divider"></div>
                </div>

                <div class="sidebar col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="widget search-form" style="margin-bottom: 35px;">
                        <div class="input-group">
                            <input type="text" placeholder="Search..." class="search-input form-control" ng-model="vm.titleFilter">
                            <span class="input-group-btn">
                                <button type="submit" class="subscribe-btn btn" ng-class="vm.titleFilter.length > 0 ? 'btn-warning' : 'btn-color'" ng-click="vm.titleFilter = ''"><i class="fa" ng-class="vm.titleFilter.length <= 0 ? 'fa-search' : 'fa-remove'"></i></button>
                            </span>
                        </div>
                    </div>

                    <div class="widget speakers" style="margin-bottom: 35px;">
                        <h3 class="title">Filter by Speakers</h3>
                        <ul>
                            <li ng-repeat="(key, value) in vm.filteredSpeakers()" ng-show="!$parent.vm.speakerFilter || $parent.vm.speakerFilter == key">
                                <a href="#" ng-click="$parent.vm.speakerFilter = key.toString()">{{key}} ({{value}})</a> <a href="#" class="remove" ng-show="$parent.vm.speakerFilter && $parent.vm.speakerFilter == key" ng-click="$parent.vm.speakerFilter = ''"><i class="fa fa-remove"></i></a>
                            </li>
                        </ul>
                    </div>

                    <div class="widget tags" style="margin-bottom: 35px;">
                        <h3 class="title">Filter by Tags</h3>
                        <ul>
                            <li ng-repeat="(key, value) in vm.filteredTags()" ng-show="!$parent.vm..tagFilter || $parent.vm.tagFilter == key">
                                <a href="#" ng-click="$parent.vm.tagFilter = key.toString()">{{key}} ({{value}})</a> <a href="#" class="remove" ng-show="$parent.vm.tagFilter && $parent.vm.tagFilter == key" ng-click="$parent.vm.tagFilter = ''"><i class="fa fa-remove"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>