
@import "mixins.less";
@import "../../Content/fonts/open_sans_font.less";
@import "../../Content/fonts/lato_font.less";
@import "variables.less";

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
.nav > li > a {
    &:hover,&:focus {
        text-decoration: inherit;
        background-color: inherit;
    }
}
a {
    &:hover,&:focus {
        text-decoration: none;
        color: @blue-lighter;
    }
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: inherit;
    border-color: inherit;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: inherit;
    background-color: inherit;
    text-decoration: inherit;
}


body {
  background: url('@{img-file-path-base}graymatte.png') repeat;
  color: @gray-dark;
  font-family: @font-family-base;
  line-height: 24px;

  > .container.wrapper {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    padding-right: 0;
    padding-left: 0;

    @media (min-width: 768px) {
      .bottom-bar {
        width: 750px !important;
      }
    }
    @media (min-width: 992px) {
      .bottom-bar {
        width: 970px !important;
      }
    }
    @media (min-width: 1200px) {
      .bottom-bar {
        width: 1170px !important;
      }
    }
  }
}
main {
  background-color: @white-darker;
}
header {

}

footer {

}
a {
    color: @blue-lighter;
    text-decoration: none;

    &:hover {
        text-decoration: none;
        outline: none;
        color: #777777;
    }

    .remove {
        font-size: 14px;
        color: @warning;
        vertical-align: middle;
    }
}
.avatar {
    img {
        border-radius: 100%;
        max-width: 75px;
    }
}
.DisplayName {margin-right: 18px;}
.breadcrumb-wrapper {
  background: @white;
  .breadcrumbs {
    margin: 24px 0;
    ul {
      margin: 0;
      margin-top: 5px;
      li {
        color: @gray-lighter;
        display: inline-block;
        font-size: 13px;
        margin: 0 0 0 5px;
        a {
          color: @gray-light;
          font-weight: 600;
        }
        a:hover {
            text-decoration: none !important;
        }
      }
      li:before {
        color: @gray-lighter;
        content: "\e080";
        font-family: 'Glyphicons Halflings';
        font-size: 9px;
        margin: 0 9px 0 0;
      }
      li:first-child {
        margin-left: 2px !important;
      }
      li:nth-child(2):before, li:first-child:before {
        content: " ";
        margin: 0;
      }
    }
  }
}
@media (max-width: 767px) {
    .breadcrumb-wrapper {
        text-align: center;
    }
    .breadcrumbs.pull-right {
        float: none !important;
    }
}
.bottom-bar {
  background: @blue-darkest;
  -webkit-box-shadow: 0 3px 3px -3px rgba(0,0,0,0.2);
  box-shadow: 0 3px 3px -3px rgba(0,0,0,0.2);
  position: relative;
  width: 100%;
  z-index: 999;
}
.bottom-pad {
  margin-bottom: 60px;
}
.btn-color {
  background: @blue-lighter;
  color: @white !important;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out !important;
  -moz-transition: all .5s ease-in-out !important;
  -o-transition: all .5s ease-in-out !important;
  -ms-transition: all .5s ease-in-out !important;
  transition: all .5s ease-in-out !important;
  &:hover {
    background: @blue-light;
  }
}
.btn-normal {
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    padding: 12px 30px;
}
.btn-special {
  border-radius: 4px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 15px 30px;
  outline: none;
  text-transform: uppercase;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.btn-warning {
  background: @warning;
  border: 1px solid transparent !important;
  color: @white !important;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out !important;
  -moz-transition: all .5s ease-in-out !important;
  -o-transition: all .5s ease-in-out !important;
  -ms-transition: all .5s ease-in-out !important;
  transition: all .5s ease-in-out !important;
  &:hover, &:focus {
    background: @warning-light;
  }
}
button[disabled] {
    background-color: @gray !important;
}
.contact-box {
  background: @white;
  border-bottom-color: #2eaef0;
  border-color: transparent;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px 1px 3px;
  cursor: pointer;
  text-align: center !important;
  -webkit-box-shadow: 0 -1px 0 0 rgba(0,0,0,0.05) inset;
  box-shadow: 0 -1px 0 0 rgba(0,0,0,0.05) inset;
  -webkit-transition: background .5s ease-in-out;
  -moz-transition: background .5s ease-in-out;
  -o-transition: background .5s ease-in-out;
  -ms-transition: background .5s ease-in-out;
  transition: background .5s ease-in-out;
  margin: 0 0 20px;
  padding: 32px 28px;
  &:hover {
    background: @blue-lighter;
    color: @white;

    h3 {
        color: @white;
    }
  }
  i {
    font-size: 48px;
  }
}
.contact-content {
  padding: 60px 0 0;
  .address {
    ul {
      list-style: none;
      padding: 0;
      li {
        i {
          color: @gray;
          float: left;
          margin: 4px 0 0;
        }
        p {
          color: @gray-dark;
          margin-left: 20px;
          margin-top: -2px;

          strong {
            float: left;
            font-weight: 600;
            margin: 0 5px 5px 0;
          }
        }
      }
    }
  }
  .our-location {
    padding-bottom: 0 !important;
  }
}
.contact-pad {
  padding-bottom: 20px;
}
.content-box {
  background: @white;
  border-color: transparent;
  border-bottom-color: @blue-lighter;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px 1px 3px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0 20px 30px;
  -webkit-transition: background .5s ease-in-out;
  -moz-transition: background .5s ease-in-out;
  -o-transition: background .5s ease-in-out;
  -ms-transition: background .5s ease-in-out;
  transition: background .5s ease-in-out;

  @media (min-width: 768px) {
    min-height: 451px !important;
  }
  @media (min-width: 992px) {
    min-height: 355px !important;
  }
  @media (min-width: 1200px) {
    min-height: 317px !important;
  }

  .content-box-info {
      > h3 + p:first-of-type, > address:first-of-type {
          margin-top: 25px;
      }
  }
}
.bottom-pad-small {
  margin-bottom: 30px;
}
.directory-content {
    .avatar {
        float: left;
        margin-right: 15px;
    }

    @media (max-width: 767px) {
        .avatar {
            float: none !important;
            text-align: center !important;
        }
        .user-quick-info {
            text-align: center !important;
        }
    }
    .user-meta {
        a {
            color: @gray-dark;
            text-decoration: none;
        }
        i {
            line-height: @font-size-base;
        }
    }
    .user-meta-phone,
    .user-meta-email,
    .user-meta-address address {
        display: inline-block;
        margin-bottom: 10px;
        margin-right: 15px;
        font-size: 12px;
        vertical-align: top;
    }
    .user-meta-phone,
    .user-meta-email,
    .user-meta-address {
        i {
            margin-right: 4px;
        }
    }
}
.divider {
  margin: 60px 0;
}
.divider-half {
  margin: 30px 0;
}
.flexslider{
  background:none;
  border:none;
  box-shadow:none;
  margin:0px;
  .flex-viewport {
    width: 100%;
  }
}
.form-control {
  color: @gray-darker;
  background-color: @white;
  background-image: none;
  border: 1px solid @white-darkest;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  display: block;
  font-size: 14px;
  height: 44px;
  line-height: 1.42857143;
  padding: 6px 12px;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  width: 100%;
}
.footer-bottom {
  background: @gray-darkest;
  border-top: 1px solid @blue-dark;
  color: @gray-light;
  line-height: 38px;
  padding: 15px;
}
.footer-top {
  background: @blue-darkest;
  border-bottom: 1px solid @blue-dark;
  color: @gray-lightest;
  padding: 50px 0;
  h3 {
    color: @white;
    font-size: 22px;
  }
  i.glyphicon-pad {
    color: @gray;
    float: left;
    margin: 4px 0 0;
    margin-right: 5px;
    padding-bottom: 20px;
  }
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #777777;
    font-family: 'Lato',sans-serif;
    font-weight: 300;
}
h2.title {
    font-size: 26px;
    line-height: 40px;
    margin: 20px 0;
    color: @gray;
}
h3.title {
    color: @gray;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    margin: 0 0 25px;
    overflow: hidden;
    position: relative;

  &:after {
    background: url('@{img-file-path-base}bg_off.png') repeat;
    content: "";
    height: 5px;
    margin-left: 10px;
    position: absolute;
    top: 12px;
    width: 99%;
  }
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.input-group-addon, .input-group-btn, .input-group .form-control {
    display: table-cell;
}
.logo h1 {
  margin: 13px 0;
}
.mobile {
  .navbar-toggle {
    background-color: transparent;
    background-image: none;
    border: none;
    border-radius: 2px;
    float: right;
    margin: 0;
    padding: 24px 10px 24px 0;
    position: relative;
    i {
      background-color: @blue-lighter;
      color: @white;
      font-size: 2rem;
      padding: 9px 12px;
      border-radius: 3px !important;
    }
  }
}
.modal-footer {
    text-align: left;
}
.navbar-collapse {
  float: right;
  padding-left: 0;
  padding-right: 0;

  @media (max-width: 767px) {
    border-top-width: 0;
    box-shadow: none;
    float: none;
    width: auto;
  }
  .navbar-nav {
    color: @white;
    margin: 0;
    padding: 0;
    a {
      color: @white;
      display: inline-block;
      padding: 34px 18px 31px 18px;
      line-height: 20px;
      &:hover, &:focus {
        background-color: @blue-darker !important;
      }
      @media (max-width: 767px) {
          padding: 17px 18px 15px 18px !important;
          width: 100% !important;
      }
    }
    .dropdown-menu {
        background-color: @blue-darkest;
        border-radius: 0;
        color: @white;

        li {
            text-align: center;
            @media (max-width: 767px) {
                text-align: left;
            }
        }
        a {
            width: 100%;
        }
    }
    .active {
      background-color: @blue-darker;
      border-bottom: 3px solid @blue-lighter;
    }
  }
}
.need-ride {
  background: #fff;
  min-height: 100px;
  width: 100%;
  .need-ride-content {
    padding: 20px 0;
    .contact-us {
      padding-top: 15px;
      vertical-align: middle;
    }
    h3 {
      margin: 25px 0 25px;
    }
    @media (max-width: 991px) {
      .contact-us {
        text-align: center !important;
      }
      .btn {
        float: none !important;
      }
    }
  }
}
form .ng-dirty.ng-invalid {
    border: 1px solid @warning;
}
form .ng-dirty.ng-valid {
    border: 1px solid @success;
}
.pickadate__nav--prev, .pickadate__nav--next {
    box-sizing: content-box;
}
.pickadate__weekday {
    text-align: center;
}
.our-location {
  padding-bottom: 25px;
  .church-location {
    height: 400px;
  }
}
@media (max-width: 767px) {
    .phone-email a {
        display: block;
        margin: 0 0 10px;
        text-align: center;
    }
    .top-bar .pull-left {
        float: none !important;
    }
}
.reply {
    .input-group button {
        margin: 0 0 20px;
    }
  input:not([type=checkbox]) {
    margin: 0 0 20px;
  }

  label {
    margin: 0 0 4px;
    color: @gray-dark;
  }
  textarea {
    margin: 0 0 18px;
    min-width: 97.5%;
    min-height: 180px;
    -webkit-resize: vertical;
    -moz-resize: vertical;
    resize: vertical;
  }
}
.scrollup {
    background: @gray-lighter;
    border-radius: 2px;
    bottom: 40px;
    color: @white-dark;
    cursor: pointer;
    display: none;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: alpha(opacity=80);
    font-size: 28px;
    height: 40px;
    opacity: 0.8;
    position: fixed;
    right: 20px;
    text-align: center;
    width: 40px;
    z-index: 999;
    &:hover {
        color: @white-dark;
    }
    i {
        left: 1px;
        top: 3px;
        line-height: 38px;
    }
}
.sermons-content {
    padding: 60px 0 0;
}
.sermons-block {
    iframe {
        margin: 25px 0;
    }
}
.sermon-date {
    a.date {
        background: @white;
        border-radius: 2px;
        display: block;
        float: left;
        margin-right: 20px;
        text-align: center;
        text-decoration: none;
        width: 55px;
        padding: 10px 0 0;

        i {
            background-color: @blue-light;
            border-top: 1px solid @gray-white;
            color: @white;
            display: block;
            font-size: 11px;
            font-style: normal;
        }

        strong {
            color: @blue-light;
            display: block;
            font-size: 27px;
            font-weight: normal;
            margin-bottom: 10px;
        }
    }
}
.sermon-desc {
    p {
        margin-bottom: 0;
    }
}
.sermon-entry-meta-comments {
    font-size: 12px;
    display: inline-block;
    margin-bottom: 10px;
    vertical-align: top;
}
.sermon-entry-meta-speaker {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 15px;
    font-size: 12px;
    vertical-align: top;
}
.sermon-entry-meta-tags {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 15px;
    font-size: 12px;
    vertical-align: top;
}
.sermon-meta {
    i {
        margin-right: 4px;
    }
}
.sermon-meta-date {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
    font-size: 12px;
    vertical-align: top;
}
.sermon-divider {
    content: "";
    height: 5px;
    margin: 15px 0;
}
.sermon-title {
    margin-top: 0;
    font-size: 22px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 15px;
}
.subscribe-btn {
    height: 44px;
    padding: 6px 16px;
    background-image: none;
    color: @white;
    text-shadow: none;
    font-size: 16px;
    border: none;
    text-shadow: none !important;
    -webkit-transition: all .5s ease-in-out !important;
    -moz-transition: all .5s ease-in-out !important;
    -o-transition: all .5s ease-in-out !important;
    -ms-transition: all .5s ease-in-out !important;
}
.tags-container {
    display: inline-block;
}
.top-bar {
  background-color: @gray-darkest;
  border-bottom: 1px solid @blue-dark;
  color: @white;
  line-height: 38px;
  min-height: 30px;
  padding: 7px 0;
  a {
    color: @white;
    margin-right: 20px;
    text-decoration: none;
  }
  i {
    color: @white;
    line-height: 14px;
    margin-right: 7px;
  }
}
.validation-summary-errors {
    color: @warning;
}
.validation-summary-errors ul {
    list-style: none;
    padding-left: 0;
}
.warning {
  color: @warning;
}
.widget {
    margin-bottom: 35px;

    &.tags {
        line-height: 20px;
    }
}
.worship-info {
    margin-bottom: 30px;
    min-height: 100px;

    strong {
        font-size: 16px;
    }

    @media (max-width: 377px) {
        h3.title:after {
            top: 42px;
        }
    }
}