@model string

<script>
    var sermons = JSON.parse('@Html.Raw(!string.IsNullOrEmpty(Model) ? Model : "[]")');
</script>

<div class="manager-sermons-wrapper" ng-controller="ManageSermonsCtrl as vm">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <h2 class="title">Manage Sermons</h2>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <div class="breadcrumbs pull-right">
                        <ul>
                            <li>You are here:</li>
                            <li>Manage Sermons</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="manager-sermons-content" style="padding: 60px 0 0;" ng-cloak>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <button class="btn btn-normal btn-color bottom-pad" ng-click="vm.openAddSermonModal()">Add Sermon</button>

                    <table class="table table-striped table-bordered" ng-show="vm.sermons.length > 0">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Title</th>
                                <th>Speaker</th>
                                <th>Tags</th>
                                <th style="width: 100px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="sermon in vm.sermons | orderBy: 'sermonDate':true">
                                <td>{{sermon.sermonDate | date:'MMMM d yyyy'}}</td>
                                <td>{{sermon.title}}</td>
                                <td>{{ sermon.speaker }}</td>
                                <td>
                                    <div class="tags-container" ng-repeat="tag in sermon.tags.split(',')">
                                        {{ tag }}{{ ! $last ? ',&nbsp;' : '' }}
                                    </div>
                                </td>
                                <td style="text-align: right;">
                                    <button class="btn btn-color" ng-click="vm.openEditSermonModal(sermon)"><i class="fa fa-pencil"></i></button>
                                    <button class="btn btn-warning" btn-loading="vm.showDeleteLoading" data-loading-text="Deleting..." ng-click="vm.openDeleteSermonModal(sermon)"><i class="fa fa-remove"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-striped table-bordered" ng-show="vm.sermons.length <= 0">
                        <tr>
                            <td>No sermons found. Click the "Add Sermon" button to add some!</td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>