<div class="contact-content">
    <div class="container">
        <div class="row">
            <div id="ContactForm" class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                <h3 class="title">Thank You for your interest in Dynamic Marriage</h3>
                <p>
                    <strong>Why settle for ordinary?</strong><br />
                    <strong>You're 9 weeks away from an extraordinary marriage.</strong>
                </p>
                <p>Dynamic Marriage is a 9 week course that will help you discover how your marriage can thrive and be more fulfilling than you ever thought possible. Based on the "Love Bank" model from the book, His Needs, Her Needs by Dr. Willard Harley, you'll learn how communication and behavior styles affect the way you and your spouse act and react to each other.</p>
                <p>Through an interactive learning process, you'll identify behaviors that may be damaging your marriage, develop healthy ways to deal with marital conflict and take concrete steps to meet each other's needs better than you ever have before.</p>
                <div style="margin-left: 15px;">
                    <img src="~/Content/images/HeartlandCreditUnion.jpg" alt="Heartland Credit Union building" height="237" width="400" align="right">
                    <br /><strong>Schedule and location</strong><br />
                    These classes start on March 1, 2019<br />
                    7:00pm Friday nights<br /><br />
                    <strong>Heartland Credit Union</strong><br/>
                    Community Room  2 Floor<br />
                    5500 South Robert Trail<br />
                    Inver Grove Heights, MN 55077<br /><br /><br />
                </div>
                <p>The materials are $130/couple. Shipping is $6.50 per set with $11 minimum per shipment.</p>
                <p>
                    Couples who have taken the course previously are not required to purchase new materials.
                    They can re-use their old materials at no cost.
                    I would recommend that they get new student handbooks because those have been updated and slightly different than the old.
                </p>
                <p>If the returning couple would like new student handbooks and new Five Steps to Romantic Love workbooks, the charge is $50/couple.</p>
                <p>
                    <img src="~/Content/images/JaimeTeaching.jpg" alt="Heartland Credit Union building" height="267" width="400" align="right">

                    <b>For registration, go to the <a href="https://marriagedynamics.com/enrollment-dm/">Marriage Dynamics enrollment form</a></b>
                </p>
                <p>Your registration here will send an email to the facilitators, and they will contact you and arrange for payment and address any questions. The minimum class is 6 couples and the maximum is 12 couples, register soon to reserve your spot.</p>
                <p>The <a href="https://marriagedynamics.com/dynamic-marriage-9-week-course/">Dynamic Marriage site</a> provides more detailed info about this program  </p>
                <p style="margin-left: 15px;">
                    <br /><strong>Facilitators:</strong>  Jaime &amp; Renea Schuessler<br />
                    <a href="mailto:jaime@schuesslers.net">jaime@schuesslers.net</a><br />
                    Call or text: 651.248.2604
                </p>
                <div class="divider"></div>

            </div>

            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">
                <div class="address widget">
                    <h3 class="title">Inver Grove Church</h3>
                    <ul>
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <p>
                                <strong class="contact-pad">Address: </strong>
                                Inver Grove church of Christ <br>
                                8777 Courthouse Blvd <br>
                                Inver Grove Heights MN 55077
                            </p>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            <p>
                                <strong>Phone: </strong>
                                (651) 457-1189
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="divider"></div>
    </div>
</div>