<div id="RegistertForm" class="login-content">
    <h3 class="title">{{vm.header2}}</h3>

    <form name="form" novalidate>
        <fieldset class="reply">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label>Username: <span class="warning">*</span></label>
                    <input class="form-control" name="UserName" type="text" maxlength="50" required />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label>Password: <span class="warning">*</span></label>
                    <input class="form-control" name="Password" type="password" maxlength="50" required />
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label>Confirm Password: <span class="warning">*</span></label>
                    <input class="form-control" name="PasswordConfirm" type="password" maxlength="50" required />
                </div>
            </div>

        </fieldset>

        <button class="btn btn-normal btn-color" style="width: 100%;">Log In</button>
        <div class="clearfix"></div>

    </form>
</div>