@{
    Layout = "~/Views/Account/_Layout.cshtml";
    ViewBag.Title = "Log In";
}

<div id="ContactForm" class="login-content" ng-controller="AccountCtrl as vm">
    <h3 class="title">Log In</h3>

    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="vm.closeAlert($index)">{{alert.msg}}</alert>

    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { role = "form", novalidate = true }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "")

        <fieldset class="reply">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label>Username: <span class="warning">*</span></label>
                    <input class="form-control" name="UserName" type="text" maxlength="50" required />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label>Password: <span class="warning">*</span></label>
                    <input class="form-control" name="Password" type="password" maxlength="50" required />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="checkbox">
                        <label>
                            <input name="RememberMe" type="checkbox" /> Remember Me
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>

    <button ng-disabled="form.$invalid" ng-click="vm.login()" btn-loading="vm.busy" data-loading-text="Logging In..." class="btn btn-normal btn-color" style="width: 100%;">Log In</button>
        <div class="clearfix"></div>
    }
</div>