@model InverGrove.Domain.Models.UserVerification

@{
    Layout = "~/Views/Account/_Layout.cshtml"; // <--- NOT base layout.
    ViewBag.Title = "Register";
}

<div id="ContactForm" class="login-content" ng-controller="RegisterCtrl as vm">
    <h3 class="title">Set Your Username and Password</h3>
    <h4>@Model.PersonName</h4>

    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="vm.closeAlert($index)">{{alert.msg}}</alert>

    <form name="form" novalidate>

        <fieldset class="reply">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label>Username: <span class="warning">*</span></label>
                    <input ng-model="vm.newUserObj.userName" class="form-control" name="userName" type="text" ng-minlength="4" ng-maxlength="25" required />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label>Password: <span class="warning">*</span></label>
                    <input ng-model="vm.newUserObj.password" class="form-control" name="password" type="password" ng-minlength="8" ng-maxlength="25" required />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label>Confirm Password: <span class="warning">*</span></label>
                    <input ng-model="vm.newUserObj.passwordConfirm" class="form-control" name="passwordConfirm" type="password" ng-minlength="8" ng-maxlength="25" required/>
                </div>
            </div>
        </fieldset>

        <button ng-click="vm.createUser()" ng-disabled="form.$invalid" disabled btn-loading="vm.busy" data-loading-text="Setting up account ..." class="btn btn-normal btn-color" style="width: 100%;">Log In</button>
        <div class="clearfix"></div>

    </form>

</div>