<style>
    .content {
        padding: 60px 0 0;
    }
</style>


<div class="member-home-wrapper">

    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <h2 class="title">News & Events</h2>
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <div class="breadcrumbs pull-right">
                        <ul>
                            <li>You are here:</li>
                            <li>Home</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="content" ng-cloak>
        <div class="container">
            <div class="row">

                <div class="sidebar col-lg-3 col-lg-push-9 col-md-3 col-md-push-9 col-sm-4 col-sm-push-8 col-xs-12">
                    <img src="~/Content/images/prayer.png" style="max-width: 100%; border-radius: 4px;"/>
                    <h3 class="content-title">Please pray for...</h3>

                    <div>
                        <ul>
                            <li>Cindy Seals</li>
                            <li>Keenan is sick</li>
                            <li>Cindy Seals</li>
                        </ul>
                    </div>
                </div>

                <div class="sermons-block col-lg-9 col-lg-pull-3 col-md-9 col-md-pull-3 col-sm-8 col-sm-pull-4 col-xs-12">

                    <article class="sermon hentry">
                        <div class="sermon-content-wrap">
                            <header class="sermon-header">
                                <div class="sermon-date">
                                    <a class="date" href="#"><strong>Sep</strong><i>20</i></a>
                                </div>
                                <h3 class="content-title">
                                    Some Title
                                </h3>
                                <div class="sermon-meta">
                                    <div class="sermon-entry-meta-speaker">
                                        <i class="fa fa-user"></i>
                                        Jaime Schessuler
                                    </div>
                                </div>
                            </header>
                            <div class="post-content">
                                <p>Hey everyone! We are having a bible study this Friday at 7pm! You are all welcome to join! Location is something something...</p>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="sermon-divider"></div>
                    </article>

                    <article class="sermon hentry">
                        <div class="sermon-content-wrap">
                            <header class="sermon-header">
                                <div class="sermon-date">
                                    <a class="date" href="#"><strong>Sep</strong><i>20</i></a>
                                </div>
                                <h3 class="content-title">
                                    Some Title
                                </h3>
                                <div class="sermon-meta">
                                    <div class="sermon-entry-meta-speaker">
                                        <i class="fa fa-user"></i>
                                        Jaime Schessuler
                                    </div>
                                </div>
                            </header>
                            <div class="post-content">
                                <p>Hey everyone! We are having a bible study this Friday at 7pm! You are all welcome to join! Location is something something...</p>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="sermon-divider"></div>
                    </article>

                    <article class="sermon hentry">
                        <div class="sermon-content-wrap">
                            <header class="sermon-header">
                                <div class="sermon-date">
                                    <a class="date" href="#"><strong>Sep</strong><i>20</i></a>
                                </div>
                                <h3 class="content-title">
                                    Some Title
                                </h3>
                                <div class="sermon-meta">
                                    <div class="sermon-entry-meta-speaker">
                                        <i class="fa fa-user"></i>
                                        Jaime Schessuler
                                    </div>
                                </div>
                            </header>
                            <div class="post-content">
                                <p>Hey everyone! We are having a bible study this Friday at 7pm! You are all welcome to join! Location is something something...</p>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </article>

                    <div class="divider"></div>
                </div>

            </div>
        </div>
    </div>

</div>