<div class="resource-wrapper">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <h2 class="title">Resources</h2>
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <div class="breadcrumbs pull-right">
                        <ul>
                            <li>You are here:</li>
                            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li>Resources</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="resource-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p>Please help yourself to download and use any of these resources for your own personal use.</p>
                </div>
                <div class="divider"></div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <h3 class="title">New Testament</h3>

                    <ul>
                        <li><a href="~/Content/images/Study of 1st Peter Spring 2016.pdf">1 Peter</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</div>
