<div class="manager-sermons-wrapper">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <h2 class="title">Manage News & Events</h2>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <div class="breadcrumbs pull-right">
                        <ul>
                            <li>You are here:</li>
                            <li><a href="@Url.Action("Index", "Home")"><strong>Home</strong></a></li>
                            <li>Manage News & Events</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="manager-sermons-content" style="padding: 60px 0 0;" ng-cloak>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <button class="btn btn-normal btn-color bottom-pad" ng-click="vm.openAddSermonModal()">Add News & Event</button>

                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Created Date</th>
                                <th>Created By</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th style="width: 100px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Sep 20, 2015</td>
                                <td>Jim Echols</td>
                                <td>Bible Study</td>
                                <td>This is a description of the event!!!!</td>
                                <td style="text-align: right;">
                                    <button class="btn btn-color" ng-click="vm.openEditSermonModal(sermon)"><i class="fa fa-pencil"></i></button>
                                    <button class="btn btn-warning" btn-loading="vm.showDeleteLoading" data-loading-text="Deleting..." ng-click="vm.openDeleteSermonModal(sermon)"><i class="fa fa-remove"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>Sep 20, 2015</td>
                                <td>Jim Echols</td>
                                <td>Bible Study</td>
                                <td>This is a description of the event!!!!</td>
                                <td style="text-align: right;">
                                    <button class="btn btn-color" ng-click="vm.openEditSermonModal(sermon)"><i class="fa fa-pencil"></i></button>
                                    <button class="btn btn-warning" btn-loading="vm.showDeleteLoading" data-loading-text="Deleting..." ng-click="vm.openDeleteSermonModal(sermon)"><i class="fa fa-remove"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>Sep 20, 2015</td>
                                <td>Jim Echols</td>
                                <td>Bible Study</td>
                                <td>This is a description of the event!!!!</td>
                                <td style="text-align: right;">
                                    <button class="btn btn-color" ng-click="vm.openEditSermonModal(sermon)"><i class="fa fa-pencil"></i></button>
                                    <button class="btn btn-warning" btn-loading="vm.showDeleteLoading" data-loading-text="Deleting..." ng-click="vm.openDeleteSermonModal(sermon)"><i class="fa fa-remove"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-striped table-bordered">
                        <tr>
                            <td>No news or events found. Click the "Add News & Event" button to add one!</td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>