<div class="home-wrapper">
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1750">
                    <img src="~/Content/images/2016_theme_seek_ye_first.jpg" alt="darkblurbg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                </li>
            </ul>
        </div>
    </div>

    <div class="white-box bottom-pad-small">
        <div class="container">
            <div class="row">
                <div class="white-box-content">
                    <div class="col-lg-9 col-md-9">
                        <h3>We're on the radio! Tune in to 980AM every Saturday morning at 11AM!</h3>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="box-action clearfix">
                            <a class="btn btn-special btn-color pull-right" href="http://lettingthebiblespeak.com/">Learn More</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="quick-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="content-box">
                        <div class="content-box-info">
                            <h3>About Us</h3>
                            <p>
                                We are a group of simple, New Testament Christians meeting in Inver Grove
                                Heights who are trying to be like
                                the church that you read about in the Bible. We shun
                                man-made doctrines, church politics, and too much emphasis upon
                                money as these things displease the Lord. We believe that you will
                                find us to be Christ-centered and truth loving.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="content-box">
                        <div class="content-box-info">
                            <h3>Times of Assembly</h3>
                            <p>
                                <em>Sunday AM</em> <br>
                                Bible Study – 9:30 <br>
                                Worship – 10:30 <br>
                            </p>
                            <p>
                                <em>Sunday PM</em> <br>
                                Worship – 2:00 <br>
                            </p>
                            <p>
                                <em>Wednesday PM</em> <br>
                                Bible Study – 7:00 <br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="content-box">
                        <div class="content-box-info">
                            <h3>Our Location</h3>
                            <address>
                                <i class="fa fa-map-marker"></i> 8777 Courthouse Blvd <br>
                                Inver Grove Heights MN 55077 <br>
                                <i class="fa fa-phone"></i> (651) 457-1189
                            </address>
                            <p>
                                Located 12 minutes south of downtown St. Paul off of Hwy. 52 in Inver Grove Heights.
                            </p>
                            <p>
                                If you need any other help in finding us, please contact us. We look forward to seeing you!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="worship-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="title">What to Expect When You Arrive</h3>
                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                        <em>Singing</em>
                        <p>Congregational singing of praise and encouragement without the aid of mechanical instruments (Ephesians 5:19; Colossians 3:16)</p>

                        <em>Prayer</em>
                        <p>Heartfelt prayers to God (Matthew 6:5-15;1 Thessalonians 5:17)</p>

                        <em>Lord’s supper</em>
                        <p>Remember the death of Jesus by partaking the Lord’s Supper (Acts 20:7; 1 Corinthians 11:23-26)</p>

                        <em>Message</em>
                        <p>Message spoken from the word of God that has practical applications to your life (Mark 16:15; 2 Timothy 4:2)</p>

                        <em>Collection</em>
                        <p>Collection for the saints (1 Corinthians 16:1-2) You are not asked nor obligated to give. Please place your visitor card in the plate when it comes to you. The money is used to further the teaching of the Bible in this community.</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                        <div class="contact-box" onclick="window.location = '@Url.Action("Index", "Contact")'">
                            <h3 style="margin: 0 0 25px;">More Questions?</h3>
                            <i class="fa fa-envelope"></i>
                            <p>Let us know your question via the contact form.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="white-box bottom-pad-small">
        <div class="container">
            <div class="row">
                <div class="white-box-content">
                    <div class="col-lg-9 col-md-9">
                        <h3>Need a Ride? Contact us and we'll do our best to line up a ride for you.</h3>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="box-action clearfix">
                            <a class="btn btn-special btn-color pull-right" href="@Url.Action("Index", "Contact")">Contact Us</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="our-location">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="title">Our Location</h3>
                    <div class="church-location"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        (function() {
            $(document).ready(function () {
                $(".tp-banner").revolution({
                    delay: 7000,
                    startwidth: 1170,
                    startheight: 370,
                    hideThumbs: 10
                });

                $(".church-location").gMap({
                    controls: {
                        panControl: true,
                        zoomControl: true,
                        mapTypeControl: false,
                        scaleControl: true,
                        streetViewControl: true,
                        overviewMapControl: true
                    },
                    address: '8777 Courthouse Blvd, Inver Grove Heights, MN 55077, United States',
                    zoom: 13,
                    markers: [
                        {
                            latitude: 44.822361,
                            longitude: -93.058097
                        }
                    ]
                });
            });
        })();
    </script>
}