
<div class="home-wrapper">
    <div class="tp-banner-container">
        <div class="tp-banner" revoslider>
            <ul>
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
                    <img src="~/Content/Images/bebold_banner.png" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                </li>
                <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000">
                    <img src="~/Content/Images/1corinthians_biblestudy.png" alt="darkblurbg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                </li>
            </ul>
        </div>
    </div>

    <div class="quick-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="content-box">
                        <div class="content-box-info">
                            <h3>About Us</h3>
                            <p>
                                The Inver Grove church is a group of Christians who are striving together to serve Jesus Christ. We believe the Bible is the inspired Word of God, providing us with everything we need to know about life in God’s kingdom.
                            </p>
                            <p>
                                We come together for worship three times during the week for the purpose of praising our Lord and God and encouraging each other.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="content-box">
                        <div class="content-box-info">
                            <h3>Times of Assembly</h3>
                            <p>
                                <em>Sunday AM</em> <br>
                                Bible Study – 9:30 <br>
                                Worship – 10:30 <br>
                            </p>
                            <p>
                                <em>Sunday PM</em> <br>
                                Worship – 5:00 <br>
                            </p>
                            <p>
                                <em>Wednesday PM</em> <br>
                                Bible Study – 7:00 <br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="content-box">
                        <div class="content-box-info">
                            <h3>Our Location</h3>
                            <address>
                                <i class="glyphicon glyphicon-map-marker glyphicon-pad"></i> Courthouse Blvd <br> 8777 Courthouse Blvd <br>
                                Inver Grove Heights MN 55077 <br>
                                <i class="glyphicon glyphicon-earphone"></i> (651) 457-1189
                            </address>
                            <p>
                                Located 12 minutes south of downtown St. Paul off of Hwy. 52 in Inver Grove Heights.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="worship-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="title">What to Expect When You Arrive</h3>
                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                        <em>Singing</em>
                        <p>Enthusiastic congregational singing of praise and encouragement from the heart (Ephesians 5:19; Colossians 3:16)</p>

                        <em>Prayer</em>
                        <p>Heartfelt prayers to God (Matthew 6:5-15;1 Thessalonians 5:17)</p>

                        <em>Collection</em>
                        <p>Collection for the saints (1 Corinthians 16:1-2) You are not asked nor obligated to give. You may give if you desire. Please place your guest card in the basket when it comes to you. The money is used to further the teaching of the Bible in this community.</p>

                        <em>Lord’s supper</em>
                        <p>Remember the death of Jesus by partaking the Lord’s Supper (Acts 20:7; 1 Corinthians 11:23-26) Message spoken from the word of God that has practical applications to your life (Mark 16:15; 2 Timothy 4:2)</p>

                        <em>Message</em>
                        <p>Message spoken from the word of God that has practical applications to your life (Mark 16:15; 2 Timothy 4:2)</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                        <div class="contact-box" ng-click="go('@Url.Action("ContactUs", "Contact")')">
                            <h3>More Questions?</h3>
                            <i class="glyphicon glyphicon-envelope"></i>
                            <p>Let us know your question via the contact form.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="need-ride bottom-pad-small">
        <div class="container">
            <div class="row">
                <div class="need-ride-content">
                    <div class="col-lg-9 col-md-9">
                        <h3>Need a Ride? Contact us and we'll do our best to line up a ride for you.</h3>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="contact-us clearfix">
                            <button class="btn btn-special btn-color pull-right" ng-click="go('@Url.Action("ContactUs", "Contact")')">Contact Us</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="our-location">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="title">Our Location</h3>
                    <div id="MapAddress" class="church-location" g-map ng-model="churchLocation"></div>
                </div>
            </div>
        </div>
    </div>
</div>
